# Database
POSTGRES_USER=payment
POSTGRES_PASSWORD=payment
POSTGRES_DB=payment_db
DATABASE_URL=postgresql+asyncpg://payment:payment@postgres:5432/payment_db

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Auth
API_KEY=supersecretapikey

# Outbox scheduler interval in seconds
OUTBOX_INTERVAL=5
